@use "./../../../assets/styles/variables.scss";

#categorias-container{
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; /*ESTE ES PARA CUADRICULADO*/
  justify-items: center;
  gap: 20px;
}

app-tarjeta-categoria{
  width: 100%;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;

}


.btn{
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border-radius: variables.$border-radius-mediano;
  background-color: variables.$color-principal;
}
