<img id="fotoProducto" src="{{producto?.fotoUrl}}" alt="{{producto?.nombre}}">
<section class="margen-chico">
  <ul>
    <span class="negrita">Ingredientes: </span>
    <li *ngFor="let ingrediente of producto?.ingredientes">{{ingrediente}}</li>
  </ul>
  <div>
    <div class="apto-container" *ngIf="producto?.esCeliaco">
      <img class="apto" src="./../../../assets/icons/celiaco.png" alt="Apto celíaco">
      <p>Apto celíaco</p>
    </div>
    <div class="apto-container" *ngIf="producto?.esVegano">
      <img class="apto" src="./../../../assets/icons/vegano.svg" alt="Apto vegano">
      <p>Apto vegano</p>
    </div>
  </div>
  <label for="notas" class="negrita">Notas:</label>
  <textarea name="notas" id="notas" cols="30" rows="4" [(ngModel)]="notas" placeholder="¿Necesitás algo con respecto a este producto?"></textarea>
  <div id="cantidad-container">
    <label for="cantidad" class="negrita">Cantidad:</label>
    <app-contador-cantidad (cantidadCambiada)="cantidad.set($event)"></app-contador-cantidad>
  </div>
  <button (click)="agregarAlCarrito()">AGREGAR AL CARRITO</button>
</section>
